<div class="main_presentation">

  <div>
    <p>Je suis un développeur informatique full stack basé à Paris.</p>

    <p>Après quelques années dans le secteur de la culture j'ai entrepris des études de développeur informatique.
      Je travaille depuis Mars 2020 au sein de la société Iorga Group en tant que développeur Angular/TypeScript.</p>

    <p>Je me réjouis de tout défi qui m’est lancé avec l’envie de ne jamais cessé d’apprendre. Mon objectif étant
      d’élargir ma base
      de compétence afin de répondre à un maximum de demandes.</p>

    <div class="ab_presentation_curiosity_div">
      <img src="./assets/img/curiosity.png" alt="curiosité" class="ab_presentation_img_curiosity">
    </div>
    <h3>Curiosité</h3>
    <p>J’ai découvert le monde du développement en suivant des tutos en ligne. L’autoformation m’a permis de développer
      mes compétences
      techniques et je continue cette méthode au quotidien pour me former. Durant mon temps libre je travaille sur des
      projets parallèles
      pour continuer à me former sur différentes technologies et me tenir à jour sur celle que je connais déjà.
      Pour les besoins de la création de ce site j'ai commmencé à me former sur le motion design avec la suite Adobe
      (Illustrator, After Effect, Photoshop, Animate, ...).
      Je travaille actuellement sur des certifications Cloud dans le cadre du programme éducatif d’Amazon Cloud et mon
      prochain objectif
      de formation est la technologie Docker.</p>

    <div class="ab_presentation_team_div">
      <img src="./assets/img/team_work.png" alt="travail d'équipe" class="ab_presentation_img_team">
    </div>
    <h3>Esprit d'équipe</h3>
    <p>Tout au long de ma scolarité et de ma vie profesionnelle j'ai eu l'occasion et le plaisir d'être en charges de
      projets que j'ai mené à bien avec une équipe.
      Que ça soit une équipe de quelques personnnes ou une centaine je n'ai aucun mal à trouver ma place et à collaborer
      sereinement.
      Je suis formé et je travaille en méthode Agile. Je suis formé et je travaille en méthode Agile. </p>
    <div class="ab_presentation_idee_div">
      <img src="./assets/img/idea.png" alt="idée" class="ab_presentation_img_idee">
    </div>
    <h3>Créativité</h3>
    <p>En plus de la technologie et du développement informatique j’ai un intérêt pour le graphisme, la décoration, la
      photo et la vidéo.
      J’ai travaillé plusieurs années en tant que photographe et décorateur de plateau de cinéma, secteur qui continue
      de me passionner et
      que je développe toujours au jour le jour. Dans le cadre de ces activités j’ai été amené à concevoir des décors, à
      mettre en place
      des identités visuelles, à retoucher des photos et concevoir tout type d’objets et univers graphiques. Compétences
      que j’essaye d’amener
      au maximum dans mes projets informatiques.</p>

  </div>

</div>
