<div class="main_exp">
  <div>
      <h1>Expériences</h1>
  </div>
  <div class="job_school_content">
    <div class="job_exp">
      <img src="../../../assets/img/enterprise.png" alt="enterprise">

      <div class="company_card">
        <p class="company_name">IORGA</p>
        <img src="../../../assets/img/iorga.png" alt="iorga">
        <p>Apprenti Ingénieur Recherche & Développent</p>
        <a href="https://www.bgs-associes.com/" class="company_link">@Je_Veux_En_Savoir_+</a>
        <p>depuis Mars 2020</p>
      </div>

      <div class="company_card">
        <p class="company_name">BGS</p>
        <img src="../../../assets/img/bgs.jpeg" alt="bgs">
        <p>Stage</p>
        <a href="https://www.bgs-associes.com/" class="company_link">@Je_Veux_En_Savoir_+</a>
        <p>Août 2019 - Déc 2019</p>
      </div>

<!--      <p>- Bgs Associes</p>-->
<!--      <img src="../../../assets/img/bgs.jpeg" alt="bgs">-->
    </div>
    <div class="school_exp">
      <h3>Formations</h3>
      <img src="../../../assets/img/graduated.png" alt="school">
      <img src="../../../assets/img/intech.png" alt="intech info">
      <img src="../../../assets/img/aws.png" alt="aws">
      <img src="../../../assets/img/wildcodeschool.jpg" alt="wild code school">
      <img src="../../../assets/img/esra.png" alt="esra">
    </div>
  </div>
</div>
