<div class="main_exp">
  <div>
    <h1>Expériences</h1>
  </div>
  <div class="job_school_content">
    <div class="job_exp">

      <div class="company_card">
        <p class="company_name">IORGA</p>
        <img src="../../../assets/img/iorga.png" alt="iorga">
        <p>Apprenti Ingénieur Recherche & Développent</p>
        <a href="http://iorga.com/"
           class="company_link"
           target="_blank">@Je_Veux_En_Savoir_+</a>
        <p>depuis Mars 2020</p>
      </div>

      <div class="company_card">
        <p class="company_name">BGS</p>
        <img src="../../../assets/img/bgs.jpeg" alt="bgs">
        <p>Stage</p>
        <a href="https://www.bgs-associes.com/"
           class="company_link"
           target="_blank">@Je_Veux_En_Savoir_+</a>
        <p>Août 2019 - Déc 2019</p>
      </div>

    </div>
    <div class="school_exp">
      <h1>Formations</h1>

      <div class="company_card">
        <p class="company_name">INTECH</p>
        <img src="../../../assets/img/intech.png" alt="intech info">
        <p>Stage</p>
        <a href="https://www.bgs-associes.com/"
           class="company_link"
           target="_blank">@Je_Veux_En_Savoir_+</a>
        <p>Août 2019 - Déc 2019</p>
      </div>

      <div class="company_card">
        <p class="company_name">AWS</p>
        <img src="../../../assets/img/aws.png" alt="aws">
        <p>Stage</p>
        <a href="https://www.bgs-associes.com/"
           class="company_link"
           target="_blank">@Je_Veux_En_Savoir_+</a>
        <p>Août 2019 - Déc 2019</p>
      </div>

      <div class="company_card">
        <p class="company_name">WCS</p>
        <img src="../../../assets/img/wildcodeschool.jpg" alt="wild code school">
        <p>Stage</p>
        <a href="https://www.bgs-associes.com/"
           class="company_link"
           target="_blank">@Je_Veux_En_Savoir_+</a>
        <p>Août 2019 - Déc 2019</p>
      </div>

      <div class="company_card">
        <p class="company_name">ESRA</p>
        <img src="../../../assets/img/esra.png" alt="esra">
        <p>Stage</p>
        <a href="https://www.bgs-associes.com/"
           class="company_link"
           target="_blank">@Je_Veux_En_Savoir_+</a>
        <p>Août 2019 - Déc 2019</p>
      </div>
<!--      <img src="../../../assets/img/graduated.png" alt="school">-->
    </div>
  </div>
</div>
