<div class="main_exp">
  <div>
      <h3>Expériences</h3>
  </div>
  <div class="job_school_content">
    <div class="job_exp">
      <img src="../../../assets/img/enterprise.png" alt="enterprise">
      <p>- Iorga Group</p>
      <img src="../../../assets/img/iorga.png" alt="iorga">
      <p>- Bgs Associes</p>
      <img src="../../../assets/img/bgs.jpeg" alt="bgs">
    </div>
    <div class="school_exp">
      <p>Formations</p>
      <img src="../../../assets/img/graduated.png" alt="school">
      <img src="../../../assets/img/intech.png" alt="intech info">
      <img src="../../../assets/img/aws.png" alt="aws">
      <img src="../../../assets/img/wildcodeschool.jpg" alt="wild code school">
      <img src="../../../assets/img/esra.png" alt="esra">
    </div>
  </div>
</div>
