<div class="ab_link_container">

  <div class="ab_link first">
    <p class="ab_link_line"><span class="ab_link_number">1</span><span class="ab_link_name"><span class="ab_link_let">let</span>linkedin</span><span class="ab_link_equal">=</span><span class="ab_link_curly_bracket">&#123;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">2</span><span class="ab_link_key">image : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_img"><img src="../../../assets/img/linkedin-icon-2.svg" alt="linkedin"></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">3</span><span class="ab_link_key">text : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_text"><a href="https://www.linkedin.com/in/paul-charensol-530222182/" target="_blank">https://www.linkedin.com/paul-charensol</a></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">4</span><span class="ab_link_curly_bracket">&#125;</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">6</span></p>
  </div>
  <div class="ab_link">
    <p class="ab_link_line"><span class="ab_link_number">7</span><span class="ab_link_name"><span class="ab_link_let">let</span>github</span><span class="ab_link_equal">=</span><span class="ab_link_curly_bracket">&#123;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">8</span><span class="ab_link_key">image : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_img"><img src="../../../assets/img/github-icon-1.svg" alt="linkedin"></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">9</span><span class="ab_link_key">text : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_text"><a href="https://github.com/paulka1" target="_blank">https://github.com/paulka1</a></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">10</span><span class="ab_link_curly_bracket">&#125;</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">11</span></p>
  </div>
</div>

