<h1>Informations</h1>
<div class="ab_link_container">
  <div class="ab_link first">
    <p class="ab_link_line"><span class="ab_link_number">1</span><span class="ab_link_name"><span class="ab_link_let">let</span>linkedin</span><span class="ab_link_equal">=</span><span class="ab_link_curly_bracket">&#123;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">2</span><span class="ab_link_key">image : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_img"><img src="../../../assets/img/linkedin-icon-2.svg" alt="linkedin"></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">3</span><span class="ab_link_key">text : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_text"><a href="https://www.linkedin.com/in/paul-charensol-530222182/" target="_blank">www.linkedin.com/paul-charensol</a></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">4</span><span class="ab_link_curly_bracket">&#125;</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">6</span></p>
  </div>
  <div class="ab_link">
    <p class="ab_link_line"><span class="ab_link_number">7</span><span class="ab_link_name"><span class="ab_link_let">let</span>github</span><span class="ab_link_equal">=</span><span class="ab_link_curly_bracket">&#123;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">8</span><span class="ab_link_key">image : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_img"><img class="ab_link_image_github" src="../../../assets/img/github-icon-1.svg" alt="github"></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">9</span><span class="ab_link_key">text : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_text"><a href="https://github.com/paulka1" target="_blank">github.com/paulka1</a></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">10</span><span class="ab_link_curly_bracket">&#125;</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">11</span></p>
  </div>
  <div class="ab_link">
    <p class="ab_link_line"><span class="ab_link_number">12</span><span class="ab_link_name"><span class="ab_link_let">let</span>mail</span><span class="ab_link_equal">=</span><span class="ab_link_curly_bracket">&#123;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">13</span><span class="ab_link_key">image : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_img"><img src="../../../assets/img/official-gmail-icon-2020-.svg" alt="gmail"></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">14</span><span class="ab_link_key">text : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_text">charensolp@gmail.com</span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">15</span><span class="ab_link_curly_bracket">&#125;</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">16</span></p>
  </div>
  <div class="ab_link">
    <p class="ab_link_line"><span class="ab_link_number">17</span><span class="ab_link_name"><span class="ab_link_let">let</span>codewars</span><span class="ab_link_equal">=</span><span class="ab_link_curly_bracket">&#123;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">18</span><span class="ab_link_key">image : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_img"><img class="ab_link_image_codewars" src="../../../assets/img/codewars.png" alt="codewars"></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">19</span><span class="ab_link_key">text : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_text"><a href="https://www.codewars.com/users/paulcha" target="_blank">www.codewars.com/paulcha</a></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">20</span><span class="ab_link_curly_bracket">&#125;</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">21</span></p>
  </div>
  <div class="ab_link">
    <p class="ab_link_line"><span class="ab_link_number">17</span><span class="ab_link_name"><span class="ab_link_let">let</span>imdb</span><span class="ab_link_equal">=</span><span class="ab_link_curly_bracket">&#123;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">18</span><span class="ab_link_key">image : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_img"><img class="ab_link_image_imdb" src="../../../assets/img/imdb.svg" alt="imdb"></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">19</span><span class="ab_link_key">text : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_text"><a href="https://www.imdb.com/name/nm6629169/" target="_blank">www.imdb.com/name/paul</a></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">20</span><span class="ab_link_curly_bracket">&#125;</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">21</span></p>
  </div>
  <div class="ab_link">
    <p class="ab_link_line"><span class="ab_link_number">18</span><span class="ab_link_name"><span class="ab_link_let">let</span>root me</span><span class="ab_link_equal">=</span><span class="ab_link_curly_bracket">&#123;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">19</span><span class="ab_link_key">image : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_img"><img class="ab_link_image_rootme" src="../../../assets/img/rootme.svg" alt="imdb"></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">20</span><span class="ab_link_key">text : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_text"><a href="https://www.root-me.org/paulka1?lang=fr" target="_blank">www.root-me.org/paul</a></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">21</span><span class="ab_link_curly_bracket">&#125;</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">22</span></p>
  </div>
  <div class="ab_link">
    <p class="ab_link_line"><span class="ab_link_number">23</span><span class="ab_link_name"><span class="ab_link_let">let</span>cv</span><span class="ab_link_equal">=</span><span class="ab_link_curly_bracket">&#123;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">24</span><span class="ab_link_key">image : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_img"><img src="../../../assets/img/adobe-pdf-icon.svg" alt="cv"></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">25</span><span class="ab_link_key">text : </span><span class="ab_link_quote_mark">"</span> <span class="ab_link_text"><a href="../../../assets/img/paul_charensol_resume.pdf" download>cv à télécharger</a></span><span class="ab_link_quote_mark">"</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">26</span><span class="ab_link_curly_bracket">&#125;</span><span class="ab_link_semicolon">;</span></p>
    <p class="ab_link_line"><span class="ab_link_number">27</span></p>
  </div>
</div>

