<div id="main_header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="logo_header">
      <p class="logo_header_nom">PAUL CHARENSOL</p>
<!--      <div class="logo_header_slogan_div">-->
<!--        <p class="logo_header_slogan">Travail d'equipe</p>-->
<!--        <p class="logo_header_slogan">Expertise</p>-->
<!--        <p class="logo_header_slogan">Full Stack</p>-->
<!--      </div>-->
    </div>
    <button class="navbar-toggler custom-toggler"
            type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" class="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#anchor-project">Réalisations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#anchor-about">A Propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#anchor-competence">Compétences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#anchor-contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="text_header">
    <div class="text_header_video" *ngIf="false">
      <video autoplay muted loop id="myVideo" oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source src="./assets/img/video2.0.m4v" type="video/mp4">
      </video>
    </div>
    <div class="text_header_image" *ngIf="true">
      <img src="./assets/img/001timelouche1.jpg" alt="image">
      <p class="text_header_image_text">
        Je travaille à l'élaboration de sites internets, de logiciels et d'applications mobiles.
        Ma formation en image me permet aussi de travailler sur le design des applications.
        J'occupe en ce moment le poste d'ingénieur en recherche et développement pour le groupe The Blockchain Group.
      </p>
    </div>
  </div>
</div>

