@import '../../../styles.scss';

form{

  border-radius: 15px 15px 15px 15px;
  color:red;
  padding: 50px;
  width: 70%;
  margin: auto;

  .row{
      justify-content: center;
      margin-bottom: 30px;
      label{
          color:black;
          width: 80%;

      }
      input {
        color: black;
        outline: 0;
        border-width: 0 0 2px;
        border-color:black;
        width: 80%;

      }
      input:focus {
        border-color: $blueGreen;
      }
      textarea{
        color: black;
        border-width: 0 0 2px;
        border-color: black;
        outline:0;
        width: 80%;
      }
    button{
      background-color: $blueGreen;
    }
  }
}

.title_section{
  background-color:$blueGreen;
}

