<div id="prj_bmw_container">
  <app-header-article
    [title]="'PROJETS'"
    [article1]="ProjetEnum.BMW"
    [article2]="ProjetEnum.SOREGIES"
  ></app-header-article>

  <h1 id="prj_title">SGDF</h1>

  <div class="prj_content">
    <div class="prj_content_company">
      <div class="prj_content_company_presentation">
        <h2>Gestion des camps</h2>
        <h4>Le contexte</h4>
        <p>Ce projet a été conduit a sein de l'entreprise Iorga Group.<br>
          Les Scouts et Guides de France sont un mouvement catholique de jeunesse et d'éducation populaire.
          L'association est accueillante pour toutes et tous, sans distinction de nationalité, de culture, d'origine sociale ou de croyance.</p>
        <img src="./assets/img/scout-theme-master-logo.png" alt="scout">
        <p>Le site à pour but de moderniser et de faciliter la gestion de leurs évenements.</p>
      </div>
      <div class="prj_content_company_presentation_card">
        <app-cards
          [titleCard]="'IORGA'"
          [titleJob]="'Apprenti Ingénieur Recherche & Développement'"
          [imgAlt]="'iorga'"
          [imgSrc]="'./assets/img/iorga.png'"
          [href]="'https://www.bgs-associes.com/'"
          [date]="'depuis Mars 2020'"></app-cards>
        <app-cards
          [titleCard]="'SGDF'"
          [titleJob]="'Groupe d\'activité'"
          [imgAlt]="'scout'"
          [href]="'https://www.sgdf.fr/'"
          [imgSrc]="'./assets/img/scouts_et_Guides_de_France.svg'"
          [date]="'Depuis Février 2021'"></app-cards>
      </div>
    </div>
    <div class="prj_content_description">
      <h4>Les enjeux</h4>
      <p>L'enjeu est la refonte de leur outil actuel dans un outil plus moderne et plus simple à l'utilisation.</p>
      <p>La refonte comprend un changement graphique et d'expérience utilisateur, l'ajout de nouvelles classes d'âge, type de camps,
        une page de recherche multi-critères, la pagination et le traitement des données (affichages, exports, pdf, ...).</p>
      <p>On opte pour un tableau de tâche et une organisation de gestion de projet en cascade.</p>
      <h4>Mes tâches</h4>
      <p>Mon travail consiste à développé à partir de la documentation technique la totalité des demandes sous la supervision du leader technique en charge du projet.</p>
      <p>Les fonctionnalitées</p>
      <p>Le changement graphique comprend un changement des couleurs, typographie, mise en page et une modification de la navigation.</p>
      <p>Dans la volonté d'une meilleure fonctionnalité j'ai travaillé sur la mise ne place d'une pagination et une meilleurs utilisation des tableaux de
      résultat. Tri, recherche multi-critères, mise en page et pagination.</p>
      <p>L'ensemble de ces tâches m'ont permit de travailler autant sur le front (TypeScript/Angular) que sur le back-end (Php/Symfony).</p>
    </div>
    <div class="prj_content_exemple_pagination">
      <img class="prj_content_exemple_pagination_image" src="./assets/img/sgdf_1.png" alt="image pagination">
      <div class="prj_content_exemple_pagination_container">

        <div class="prj_content_exemple_pagination_container_front">
          <h4>FRONT</h4>
          <div class="prj_content_exemple_pagination_box">
            <p>Affiche le tableau</p>
            <span class="material-icons">table_chart</span>
<!--            <p>&#123;</p>-->
            <p><span>&#123; </span>sorBy: 'id',</p>
            <p>sortDirection: 'DESC',</p>
            <p>selectedPage: 1<span> &#125;</span></p>
<!--            <p>&#125;</p>-->
          </div>
        </div>
<!--        <span>this.http.get('/camps', <span>&#123;</span> params: parmas <span>&#125;</span>)</span>-->
        <div class="prj_content_exemple_pagination_arrow">
          <span class="material-icons arrow">east</span>
          <span class="material-icons arrow">west</span>
        </div>
        <div class="prj_content_exemple_pagination_container_back">
          <h4>BACK</h4>
          <div class="prj_content_exemple_pagination_box">

          </div>
          <div class="prj_content_exemple_pagination_arrow">
            <span class="material-icons arrow">east</span>
            <span class="material-icons arrow">west</span>
          </div>
          <div class="prj_content_exemple_pagination_box">
            <p>Requête SQL</p>
            <img src="./assets/img/server.png" alt="base de donnée">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>


<!--          this.http.get('/camps', { params: parmas })-->

