@import '../../../styles.scss';

#prj_bmw_container {
  .prj_content_video {
    display: flex;
    justify-content: center;

    #bmw_film {
      width: 60%;
    }
  }

  .prj_header {
    height: 350px;
    background-color: $blueGreen;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 150px;
      text-align: center;
      color: black;
    }

    a {
      color: white;
      cursor: pointer;
    }

    .navbar-nav {
      margin: auto;

      .nav-item {
        margin: 0 50px;
        font-size: 30px;

        .nav-link {
          color: #ffffff;
        }
      }
    }
  }

  #prj_title {
    text-align: center;
    font-size: 100px;
    box-shadow: 0 1px 20px rgb($greyColor, 0.5);
    margin: 10px;
  }

  .prj_content {
    padding: 50px;

    .prj_content_company {
      display: flex;
      flex-direction: row;

      .prj_content_company_presentation {
        display: flex;
        flex-direction: column;
        width: 50%;

        h2 {
          padding-bottom: 35px;
        }

        img {
          width: 250px;
          margin-bottom: 16px;
        }
      }

      .prj_content_company_presentation_card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50%
      }
    }

    .prj_content_exemple_pagination {

      .red {
        color: red;
      }

      .prj_content_exemple_pagination_image {
        width: 100%;
      }
      .prj_content_exemple_pagination_container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .prj_content_exemple_pagination_container_front {
          display: flex;
          border: 3px solid grey;
          padding: 20px;
          border-radius: 5px;
        }

        .prj_content_exemple_pagination_container_back {
          display: flex;
          border: 5px dotted grey;
          padding: 20px;
          border-radius: 5px;
        }

        .prj_content_exemple_pagination_box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          //background-color: rgba(20, 20, 20, 0.2);
          border: 1px solid grey;
          width: 200px;
          height: 300px;
          border-radius: 50px;
          box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        }

        .prj_content_exemple_pagination_box_img {
          font-size: 100px;
        }

        img{
          width: 100px;
        }

        .prj_content_exemple_pagination_arrow {
          display: flex;
          flex-direction: column;
          align-self: center;

          .arrow {
            font-size: 73px;
          }
        }
      }

      .prj_content_exemple_pagination_object {
        border : 3px dotted green;
        padding: 3px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 115px;
  }

  .prj_content_company {
    display: flex;
    flex-direction: column!important;
  }

  .prj_content_company_presentation {
    width: 100% !important;
  }

  .prj_content_company_presentation_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100% !important;
  }
  .navbar{
    justify-content: center!important;
  }
}

/* On screens that are 600px or less*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 100px!important;
  }
  .prj_content_company {

    .prj_content_company_presentation_card {
      display: flex;
      flex-direction: column!important;
      align-items: center;
    }
  }
  .prj_content_video {
    //display: flex;
    //justify-content: center;
    display: none!important;

    //#bmw_film {
    //  width: 100% !important;
    //}
  }
}
