<div class="main_competences">
  <div>
    <h1 id="anchor-competence">Compétences techniques</h1>
  </div>
  <div class="ab_competences_content">
    <div class="ab_competences_content_list_left">
      <app-ab-competence-techno
        [srcLogo]="'./assets/img/angular-icon.png'"
        [technologie]="CompetenceTechniqueEnum.ANGULAR"
        [altLogo]="'Angular'"
        [isArticle]="true"
        [srcLogoArticle]="'./assets/img/article.png'"
      ></app-ab-competence-techno>
      <app-ab-competence-techno
        [srcLogo]="'./assets/img/javascript-icon.png'"
        [technologie]="'Javascript'"
        [altLogo]="'Javascript'"
        [isArticle]="false"
        [srcLogoArticle]="'./assets/img/angular-icon.png'"
      ></app-ab-competence-techno>
      <app-ab-competence-techno
        [srcLogo]="'./assets/img/node-js-icon.jpeg'"
        [technologie]="CompetenceTechniqueEnum.NODEJS"
        [altLogo]="'nodejs'"
        [isArticle]="true"
        [srcLogoArticle]="'./assets/img/article.png'"
      ></app-ab-competence-techno>
      <app-ab-competence-techno
        [srcLogo]="'./assets/img/adobe-icon.png'"
        [technologie]="CompetenceTechniqueEnum.ADOBE"
        [altLogo]="'adobe'"
        [isArticle]="true"
        [srcLogoArticle]="'./assets/img/article.png'"
      ></app-ab-competence-techno>
      <app-ab-competence-techno
        [srcLogo]="'./assets/img/sql-icon.jpeg'"
        [technologie]="'SQL'"
        [altLogo]="'sql'"
        [isArticle]="false"
        [srcLogoArticle]="'./assets/img/angular-icon.png'"
      ></app-ab-competence-techno>
    </div>
    <div class="ab_competences_content_list_right">
      <app-ab-competence-techno
        [srcLogo]="'./assets/img/typescript-icon.png'"
        [technologie]="'Typescript'"
        [altLogo]="'Javascript'"
        [isArticle]="false"
        [srcLogoArticle]="'./assets/img/angular-icon.png'"
      ></app-ab-competence-techno>
      <app-ab-competence-techno
        [srcLogo]="'./assets/img/aws-icon.png'"
        [technologie]="'Aws'"
        [altLogo]="'Javascript'"
        [isArticle]="false"
        [srcLogoArticle]="'./assets/img/angular-icon.png'"
      ></app-ab-competence-techno>
      <app-ab-competence-techno
        [srcLogo]="'./assets/img/html-icon.png'"
        [technologie]="'Html'"
        [altLogo]="'Javascript'"
        [isArticle]="false"
        [srcLogoArticle]="'./assets/img/angular-icon.png'"
      ></app-ab-competence-techno>
      <app-ab-competence-techno
        [srcLogo]="'./assets/img/css-icon-1.jpeg'"
        [technologie]="'Css'"
        [altLogo]="'Javascript'"
        [isArticle]="false"
        [srcLogoArticle]="'./assets/img/angular-icon.png'"
      ></app-ab-competence-techno>
    </div>
  </div>
</div>
