<div class="main_competences">
  <div>
    <h1>Compétences techniques</h1>
  </div>
  <div class="ab_competences_content">
    <div class="ab_competences_content_image">
      <img src="../../../assets/img/imgComptence.png" alt="compétences">
    </div>
    <div class="ab_competences_content_list">
      <div>
        <img src="../../../assets/img/">
      <p>Angular</p>
      </div>
      <p>NodeJs</p>
      <p>Adobe</p>
      <p>Sql</p>
      <p>Aws</p>
      <p>Html/Css</p>
    </div>
  </div>
</div>
