@import '../../../styles.scss';

.main_header {
  height: 350px;
  background-color: $blueGreen;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 150px;
    text-align: center;
    color: black;
  }

  a {
    color: white;
    cursor: pointer;
  }

  .navbar-nav {
    margin: auto;

    .nav-item {
      margin: 0 50px;
      font-size: 30px;

      .nav-link {
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 115px;
  }
  .navbar{
    justify-content: center!important;
  }
}

/* On screens that are 600px or less*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 100px!important;
  }
}
