@import '../../../styles.scss';

.main_photo{
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  height: 100%;

  img{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 50px;
  }

  video{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 50px;
  }

}
