<div id="ab_adobe_container">
  <app-header-article
    [title]="'TECHNO'"
    [article1]="CompetenceTechniqueEnum.ANGULAR"
    [article2]="CompetenceTechniqueEnum.NODEJS"
    [article3]="CompetenceTechniqueEnum.AWS"
  ></app-header-article>
  <h1 class="ab_adobe_title">ADOBE</h1>
<!--  <div class="ab_adobe_image">-->
<!--    <img id="ab_adobe_image_icon" src="./assets/img/adobe-icon.png" alt="adobe">-->
<!--  </div>-->
  <div class="ab_adobe_content">
    <div class="ab_adobe_content_presentation">
      <div class="ab_adobe_content_presentation_text">
        <h4>La suite adobe</h4>
        <p>
          Adobe est une entreprise informatique éditant des logiciels graphiques dont InDesign, Acrobat, Photoshop, Illustrator et Flash.
          La société a également édité des logiciels de montage vidéo (Adobe Premiere Pro et After Effects) et audio (Adobe Audition).
          Ces derniers sont maintenant des références mondiales dans le domaine de l'édition vidéo, photo, audio et dans l'illustration et le
          graphisme.
        </p>
        <p>Je travaille avec les logiciels adobe depuis maintenant plusieurs années.</p>
        <h4>Mes projets</h4>
        <p>J'ai commencé mon apprentissage par Photoshop, logiciel que j'ai utilisé lors de mes projets en photographie et décoration.
          Durant mon activité de photographe mes spécialités en retouche étaient la retouche visage et la retouche lumière. J'ai réalisé
          ces tâches pour des studios, artistes indépendants ou pour moi-même. En décoration le travail était plus divers, ça pouvait être
          de la création et de la modification d'image. (affiches, documents en tout genre, ...).</p>
        <p>Par mon passé dans le milieu de la vidéo j'ai souvent eu l'occasion de faire des montages vidéos, ce qui m'a permis d'apprendre
          à me servir de logiciel comme FinalCutPro. Il ne fait pas partie de la suite Adobe mais je suis actuellement en train de me mettre
          à jour sur Adobe Première qui est son équivalent. </p>
        <p>Pour ce qui est de Illustrator j'ai commencé mon apprentissage pour la réalisation de ce site avec la création des icônes
          et des vidéos. Ces vidéos ont également requis l'utilisation de After Effect qui sert aux effets spéciaux et au motion design.</p>
        <p>
          Pour la vidéo de type institutionnel présent dans la partie à propos mettant en scène un homme envoyant un mail part le biais de mon site web.
          Tous les motifs et personnages ont étaient réalisés avec Illustrator. Une fois les éléments crées je les ai assemblés et animés avec le
          logiciel After Effect.</p>
      </div>
      <div class="ab_adobe_content_presentation_card">
        <app-cards
          [titleCard]="'adobe'"
          [titleJob]="'Framework web Typescript'"
          [imgAlt]="'adobe'"
          [href]="'https://adobe.io/'"
          [imgSrc]="'./assets/img/adobe-icon.png'"
        ></app-cards>
      </div>
    </div>

    <h4>Entreprise</h4>
    <p>Au-delà de la fabrication de vidéo institutionnel, mes connaissances en Illustrator et Photoshop me servent très régulièrement
      en entreprise. Lorsque une icône ou un design manque j'ai toujours la tâche de le réaliser. Il n'est pas toujours possible d'attendre
      après les illustrateurs ou le client pour avoir les visuels, de plus sur certains projets il n'y a pas de visuel fourni. Dans ce
      cas je permets à mon entreprise d'avoir des visuels uniques et originaux rapidement. Dans le cadre d'une petite entreprise ou de
      projet indépendant je peux créer l'ensemble de la charte graphique.</p>

    <div class="ab_adobe_content_evolution">
      <div class="ab_adobe_content_evolution_text">
        <h4>Evolution</h4>
        <p>A l'avenir malgré le fait que ça ne soit pas directement relié au métier de développeur informatique je compte mettre à
          profit mes compétences dans ce domaine. Je crois que ce sont des connaissances complémentaires et cela me permet d'avoir une
          bonne compréhension globale de la fabrication d'un design d'application.</p>
      </div>
      <div class="ab_adobe_evolution_image">
        <img id="ab_adobe_image_competence" src="./assets/img/imgCompetence1.png" alt="compétences">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
