@import '../../../styles.scss';

#ab_adobe_container{

  .ab_adobe_title {
    text-align: center;
    font-size: 100px;
    background: lightgray;
  }
  .ab_adobe_image{
    display: flex;
    justify-content: center;
    #ab_adobe_image_icon{
      width: 300px;
    }
  }
  .ab_adobe_content{
    padding:50px;
    .ab_adobe_content_presentation{
      display: flex;
    }
    .ab_adobe_content_evolution{
      display: flex;
      .ab_adobe_evolution_image{
        #ab_adobe_image_competence{
          width: 200px;
        }
      }
    }
  }
}

/* On screens that are 600px or less*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 75px!important;
  }
  .ab_adobe_image{
    #ab_adobe_image_icon{
      width: 200px;
    }
  }
  .ab_adobe_content{
    padding:50px;
    .ab_adobe_content_presentation{
      display: flex;
      flex-direction: column;
    }
    .ab_adobe_content_evolution{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      .ab_adobe_evolution_image{
        #ab_adobe_image_competence{
          width: 200px;
        }
      }
    }
  }
}
