<div id="anchor-project">
  <div class="title_project">
    <h2 class="title_section">PROJETS</h2>
  </div>
  <div class="ligne1">
    <!-- Projet 1 -->
    <div class="bloc_project">
      <img class="prj_bmw" src="../../../assets/img/bmw.svg" alt="bmw" (click)="navigateToProject1()">
    </div>
    <!-- Projet 2 -->
    <div class="bloc_project">
      <img class="prj_soregies" src="../../../assets/img/logo-soregies.svg" alt="soregies"
           (click)="navigateToProject2()">
    </div>
  </div>
  <div class="ligne2">
    <!-- Projet 3 -->
    <div class="bloc_project">
      <img class="pjr_wip" src="../../../assets/img/wip.png" alt="wip">
    </div>
    <!-- Projet 4 -->
    <div class="bloc_project">
      <img class="pjr_wip" src="../../../assets/img/wip.png" alt="wip">
    </div>
  </div>
</div>
