#anchor-project{
  // background-image: url(../../../assets/img/train.svg);
  // background-repeat: no-repeat;
  background-color: #ffffff;
  padding: 100px 0;
  perspective: 0.7px;
  perspective-origin: 50% 100%;
  .bloc_project{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: white;
    background-image: url(../../../assets/img/train.svg);
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);  
    background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
  }

  .bloc_project:hover{
    
    box-shadow: inset 25px 25px 40px rgba(0,0,0,.5);
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);  
    background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
  }
  
   .ligne1{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
   }

   .ligne2{
    display: flex;
    justify-content: space-evenly;
   }
}
.bloc1:hover + .bloc3{
  background-color: red!important;
}
