<div id="anchor-about">
    <div class="title_about">
      <h2 class="title_section">A PROPOS</h2>
    </div>

  <div id="content_about">
    <div id="leftSide_about">
        <img class="image1" src="../../assets/img/moi2Re.jpg" alt="paul">
      <div class="presentation_about">
        <app-ab-presentation></app-ab-presentation>
      </div>
      <div class="experience_about">
          <app-ab-experience></app-ab-experience>
      </div>
      <div class="competence_about">
          <app-ab-competence></app-ab-competence>
      </div>
      <div class="link_about">
        <app-ab-link></app-ab-link>
      </div>
    </div>
    <div class="rightSide_about">
      <app-ab-photo></app-ab-photo>
    </div>
  </div>
</div>
