<div id="ab_angular_container">
  <app-header-article
    [title]="'TECHNO'"
    [article1]="CompetenceTechniqueEnum.ADOBE"
    [article2]="CompetenceTechniqueEnum.NODEJS"
  ></app-header-article>
  <h1 class="ab_angular_title">ANGULAR</h1>
  <div class="ab_angular_image">
    <img id="ab_angular_image_icon" src="./assets/img/angular-icon.png" alt="angular">
  </div>
  <div class="ab_angular_content">
    <div class="ab_angular_content_presentation">
      <div class="ab_angular_content_presentation_text">
        <h4>La technologie Angular</h4>
        <p>
          Angular est un framework dévelopé par Google écrit en Javascript qui permet la fabrication d'application web
          "Single Page Applications" avec le langage Typescript. Sortie dans une première version sous le nom de AngularJs,
          l'équipe de développemet à réécrit entièrement le framework pour une nouvelle sortie en 2016 sous le nom de Angular.
          Le Framework est basé sur une architecture du type MVC1 et permet donc de séparer les données, le visuel et les actions
          pour une meilleure gestion des responsabilités. Un type d’architecture qui a largement fait ses preuves et qui permet
          une forte maintenabilité et une amélioration du travail collaboratif.
        </p>
        <p>Je travaille avec ce framework depuis mars 2019 et la version 7.</p>
        <h4>Mes projets</h4>
        <p>Mes premières expériences avec Angular sont des travaux dans la cadre scolaire avec une formation spécifique de 3 mois
          avec la création de sites de type statique, dynamique ou e-commerce.
          Depuis j'ai pu utiliser mes compétences dans des projets en entreprise. La totalité des travaux présenté dans mon portfolio
          ont été crée avec ce framework. </p>
        <p>Au sein de l'entreprise BgsAssociées j'ai travaillé sur 3 projets basé sur le framework Angular. Le projet Bmw (lien)
          présenté sur le site, un projet similaire pour Bouygues Telecom et une application mobile avec la technologie Ionic basé
          sur la tecnhologie Angular. </p>
        <p>Au sein de l'entreprise Iorga Group j'ai travaillé avec la technologie Angular sur plusieurs applications dont le projet
          Soregies (lien) et SGRP (lien) présenté sur le site. Non présenté sur le site il y a 3 autres appllications pour le client
          Soregies également avec la technologie Angular.</p>
      </div>
      <div class="ab_angular_content_presentation_card">
      <app-cards
        [titleCard]="'ANGULAR'"
        [titleJob]="'Framework web Typescript'"
        [imgAlt]="'Angular'"
        [href]="'https://angular.io/'"
        [imgSrc]="'./assets/img/angular-icon.png'"
        ></app-cards>
      </div>
    </div>

    <h4>Entreprise</h4>
    <p>Angular a fait ses preuves et est très utilisé en entreprise. Je pense et veut continuer à l'utiliser car elle est amenée
      à être toujours plus utilisé et à être plus performante.
      C'est selon moi le framework web le plus polyvalent et le plus intéressant à apprendre aujourd'hui car il est autant adapté
      pour les petits sites, les webs apps, des sites plus complexes ou les logiciels.
      Ma marge de progression est encore importante face aux spécificités de cette technologie et ses changements de version bi-annuel
      mais je pense avoir atteint un niveau qui me permet d'être pleinement opérationnel au sein d'un projet. </p>

    <div class="ab_angular_content_evolution">
      <div class="ab_angular_content_evolution_text">
        <h4>Evolution</h4>
        <p>Je suis pleinement dans l'environnement de cette technologie en me formant sur chaque nouvelle version et en suivant la
          communauté par le biais de conférences ou groupes de dialogues. (Angular Nation, Udemy).
          Mon objectif étant de me perfectionner dans cette technologie.</p>
      </div>
      <div class="ab_angular_evolution_image">
        <img id="ab_angular_image_competence" src="./assets/img/imgComptence.png" alt="compétences">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
