<div id="prj_soregies_container">
  <div class="prj_header">
    <h1>PROJETS</h1>

    <nav class="navbar navbar-expand-lg navbar-light">
      <div id="logo_header">
      </div>
      <button class="navbar-toggler custom-toggler"
              type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="navigateToHome()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigateToProject1()">Bmw</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Projet 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Projet 4</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="prj_content">
    <h1>SOREGIES</h1>

  </div>
</div>
<app-footer></app-footer>
