<div id="prj_soregies_container">
  <app-header-article
    [title]="'PROJETS'"
    [article1]="ProjetEnum.BMW"
    [article2]="ProjetEnum.SCOUT"
  ></app-header-article>

    <h1>SOREGIES</h1>
  <div class="prj_content">

    <div class="prj_content">
      <div class="prj_content_company">
        <div class="prj_content_company_presentation">
          <h2>Gestion de sa consommation énergétique</h2>
          <h4>Le contexte</h4>
          <p>Ce projet a été conduit au sein de l'entreprise Iorga Group.<br>
            Sorégies est une société locale de distribution d'électricité et de gaz basée à Poitiers. Par son chiffre d'affaires,
            elle est la première entreprise locale de distribution d'électricité et de gaz en France.</p>
          <p>Technologies utilisées : Angular / NodeJs.</p>
          <img src="./assets/img/logo-soregies.svg" alt="soregies">
          <p>Dans son désir d'évolution et l'avénement des compteurs connectés la société met en place une plateforme de gestion utilisateur.</p>
          <p>Une plateforme de gestion utlisateur est un espace où le client peut se connecter à son compte afin de contrôler toutes ses consommations
          énergétique et donc ses dépenses.</p>
          <p>Je suis intégrée à l'équipe de développement pour la création de la V2.</p>
        </div>
        <div class="prj_content_company_presentation_card">
          <app-cards
            [titleCard]="'IORGA'"
            [titleJob]="'Apprenti Ingénieur Recherche & Développement'"
            [imgAlt]="'iorga'"
            [imgSrc]="'./assets/img/iorga.png'"
            [href]="'https://www.bgs-associes.com/'"
            [date]="'depuis Mars 2020'"></app-cards>
          <app-cards
            [titleCard]="'SOREGIES'"
            [titleJob]="'Fournisseur d\'électricité'"
            [imgAlt]="'soregies'"
            [href]="'https://www.soregies.fr/'"
            [imgSrc]="'./assets/img/logo-soregies.svg'"
            [date]="''"></app-cards>
        </div>
      </div>
      <div class="prj_content_description">
        <h4>Les enjeux</h4>
        <p>Le principal travail du début de projet est l'intégration au sein de l'équipe de développement et la compréhension des règles métier de l'application.
          Le lexique et la fonctionnalité globale du businnes de l'électricité est spécifique et complexe.</p>
        <p>La chef de projet opte pour un tableau de tâche et une organisation Agile en sprint court de 1 semaine avec une présentation hebdomadaire avec le client.</p>
        <h4>Objectifs</h4>
        <p>Mon travail consiste à développer la fonctionnalité des objectifs et alerte de consommation.</p>
        <p>Un objectif de consommation est la possibilité pour l'utilisateur de comparer sa consommation par rapport à sa propre consommation sur
          la même période l'année précédente ou de comparer sa consommation par rapport à d'autres utilisateur dans sa zone géographique présentant les
          mêmes caractéristiques (taille d'appartement, équipement électrique, ...) et de décider s'il veut avoir pour objectif de diminuer ou
          augmenter sa consommation en pourcentage sur un mois.</p>
        <h4>Mes tâches</h4>
        <p>Les alertes de consommation et la possibilité de recevoir par mail ou téléphone un message prévenant l'utilisateur du dépassement de
          son objectif. Par exemple si l'utilisateur à décider de baisser sa consommation de 10% par mois par rapport à sa consommation de l'année dernière. En
          admettant qu'il avait consommer 1000 kwh par mois l'année précedente, si sa consommation actuelle dépasse 900 kwh il sera alerté du dépassement
          de son objectif qui était d'une baisse de 10%.</p>
        <p>Pour cela je mets en place une interface où l'utilisateur peut activer son objectif. Avec comme possibilité de choisir son type
          d'objectif, le but à atteindre et les données personnelles pour être averti en cas de dépassement de celui-ci.
          Ensuite j'ai développé une interface où l'utilisateur peut visualiser par un graphique où il se situe vis-à-vis de son objectif, avec
          la possibilité de mettre à jour son objectif et ses données personelles.</p>
        <p>Et enfin j'ai développé la fonctionnalité pour que l'utilisateur soit alerté en cas de dépassement.</p>
        <h4>Résultat</h4>
        <p>Ma mission sur ce projet s'est bien déroulé. J'ai pût approfondir mes connaissances dans les technologies
        Angular et Nodejs et découvrir le travail projet à plusieurs collaborateurs. L'intégration et le travail de groupe s'est bien déroulé malgré
        un retard de plusieurs semaines. Pour palier à ce retard le chef de projet à réorganiser la méthode de travail et intégré de nouveaux
        développeurs. Cette période de gestion de crise a été très formatrice.</p>
        <p>La version 2 a été livrée au client qui a commandé une version 3 afin d'ajouter certaines fonctionnalités. Pour ma part
        J'ai changé de mission.</p>
      </div>
      <div class="prj_content_video">
        <video autoplay muted loop id="soregies_film" oncanplay="this.play()" onloadedmetadata="this.muted = true">
          <source src="../../../assets/img/conso_1.mp4" type="video/mp4">
        </video>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>
