<div id="main_header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div id="logo_header">
      <p>PAUL CHARENSOL</p>
    </div>
    <button class="navbar-toggler custom-toggler"
            type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#anchor-project">Projets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#anchor-about">A Propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#anchor-contact">Contact<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
