<div id="prj_bmw_container">
  <div id="main_header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div id="logo_header">
        <p>BMW</p>
      </div>
      <button class="navbar-toggler custom-toggler"
              type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Projet 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Projet 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Projet 4</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>


  <!--  <div class="prj_header">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light">-->
<!--      <button class="navbar-toggler custom-toggler"-->
<!--              type="button" data-toggle="collapse"-->
<!--              data-target="#navbarSupportedContent"-->
<!--              aria-controls="navbarSupportedContent"-->
<!--              aria-expanded="false"-->
<!--              aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->

<!--      <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="/home">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#anchor-about">Projet 1</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#anchor-contact">Projet 2</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#anchor-contact">Projet 3</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#anchor-contact">Projet 4</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </div>-->

  <h2>Gestion électronique des documents</h2>

  <p>Le projet consiste à créer une interface de gestion électronique de documents basé sur le logiciel Docuware.</p>
  <p>DocuWare est un fournisseur de logiciels de gestion documentaire offrant des fonctions d'automatisation des
    référentiels et des flux de travail, également appelés gestion de contenu d'entreprise (ECM) ou, plus récemment,
    services de contenu. La société a son siège en Allemagne et aux États-Unis.
    DocuWare est également le nom du produit phare proposé par la société. En plus d'être proposé sous forme de Software
    as a Service (SaaS) basé sur le cloud, il est également disponible avec une parité de fonctionnalités pour une
    installation sur site. Le logiciel est disponible en 16 langues. DocuWare est distribué via un réseau mondial de 500
    partenaires DocuWare autorisés (ADP) ainsi que directement aux grands comptes. En janvier 2017, DocuWare est utilisé
    par 16 000 clients dans 70 pays</p>

  <p>La problématique est que le clients veut une refont graphic de son logiciel car trop lourd et trop complexe face à
    son utilité réel.</p>
  <p>Pour cela on s'est basé sur l'api docuware.</p>
  <video autoplay muted loop id="bmw_film" oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="../../../assets/img/bmw_film.mp4" type="video/mp4">
  </video>
</div>
