@import '../../../styles.scss';

#prj_bmw_container {
  .prj_content_video {
    display: flex;
    justify-content: center;

    #bmw_film {
      width: 60%;
    }
  }

  .prj_header {
    height: 350px;
    background-color: $blueGreen;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 150px;
      text-align: center;
      color: black;
    }

    a {
      color: white;
      cursor: pointer;
    }

    .navbar-nav {
      margin: auto;

      .nav-item {
        margin: 0 50px;
        font-size: 30px;

        .nav-link {
          color: #ffffff;
        }
      }
    }
  }

  #prj_title {
    text-align: center;
    font-size: 100px;
    background: lightgray;
  }

  .prj_content {
    padding: 50px;

    .prj_content_company {
      display: flex;
      flex-direction: row;

      .prj_content_company_presentation {
        display: flex;
        flex-direction: column;
        width: 50%;

        h2 {
          padding-bottom: 35px;
        }

        img {
          width: 250px;
          margin-bottom: 16px;
        }
      }

      .prj_content_company_presentation_card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50%
      }
    }
  }
}

@media screen and (max-width: 1000px) {
    h1 {
      font-size: 115px;
    }

    .prj_content_company {
      display: flex;
      flex-direction: column!important;
    }

    .prj_content_company_presentation {
      width: 100% !important;
    }

    .prj_content_company_presentation_card {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100% !important;
    }
  .navbar{
    justify-content: center!important;
  }
}

/* On screens that are 600px or less*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 100px!important;
  }
  .prj_content_company {

    .prj_content_company_presentation_card {
      display: flex;
      flex-direction: column!important;
      align-items: center;
    }
  }
  .prj_content_video {
    display: flex;
    justify-content: center;

    #bmw_film {
      width: 100% !important;
    }
  }
}
