@import "../../../styles.scss";

.ab_competences_techno{
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: auto;
  align-items: center;
  .ab_competences_techno_logo {
    width: 50px;
  }
  .ab_competences_techno_article {
    width: 25px;
    cursor: pointer;
  }
  p {
    font-size: 20px;
    margin: 0 30px 0 30px;
    font-weight: bold;
    text-transform: lowercase;
  }
}
